:root {
  --primaryColor: #4e93fa;
  --headingColor: #29325d;
  --headingFont: "Lato", sans-serif;
  --bodyFont: "Poppins", sans-serif;
}

h1,
.heading {
  font-family: var(--headingFont) !important;
  font-weight: bold;
  color: var(--headingColor) !important;
}

p {
  color: var(--headingColor) !important;
}

span {
  font-weight: bold;
  font-family: var(--headingFont);
}

.button {
  background-color: var(--primaryColor) !important;
  border: 1px solid var(--primaryColor) !important;
  color: white !important;
}

.button:hover {
  background-color: white !important;
  color: var(--primaryColor) !important;
}

.test {
  border: 1px solid black;
}

.about,
.program-disab {
  background-color: #f9fbff;
}

.image-pt {
  width: 5% !important;
}

.img-pt {
  width: 20px;
}

.imgOrganization{
  width: 30px;
  border-radius: 50%;
}

.link {
  color: white !important;
}

.link:hover {
  color: #4e93fa !important;
}

footer>* {
  color: var(--headingColor);
}

#navbarSupportedContent {
  visibility: hidden;
}

@media only screen and (max-width: 576px) {
  .button {
    width: 100% !important;
  }

  .about .capt {
    width: 100% !important;
  }

  #navbarSupportedContent {
    visibility: visible;
  }
}

.campaign-logo {
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
}

/* Halaman Profile */

.profilOrganization{
  background-color: #4e93fa;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 30px;
  font-weight: 500;
  color: #29325d;
  transition-duration: 0.3s;
}

.profilOrganization:hover{
  background-color: #2079ff;
}

.sectorOrganization{
  background-color: #fbfd78;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  font-weight: 500;
  color: #29325d;
  transition-duration: 0.3s;
}

.sectorOrganization:hover{
  background-color: #fbff00;
}

.profile {
  width: 50px !important;
}

.profileImage {
  width: 50px !important;
  padding: 0 !important;
  border-radius: 50%;
}

.halamanProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profilePicture {
  width: 150px;
  height: auto;
  margin: 20px 0px;
  padding: 5px;
  background-color: #83b5ff;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.profilePicture:hover {
  background-color: #4e93fa;
}

.profileJoinedCampaign {
  display: flex;
}

.profileJoinedCampaignImage {
  height: 20px;
  margin-right: 10px;
}

.profileNotJoined {
  font-style: italic;
}

.profileIcon{
  width: 30px;
  border-radius: 50%;
}

.btn-type-acc {
  background-color: #4e93fa;
  border: 1px solid #4e93fa;
  width: 150px;
  height: 300%;
  color: white;
}

.btn-type-acc:hover {
  border: 1px solid #4e93fa;
  background-color: white;

}

.btn-type-acc:hover Link {
  color: #4e93fa !important;
}

.big-margin {
  margin-bottom: 100px !important;
}

.status {
  background-color: #4e93fa;
  border-radius: 20px;
  margin: 10px auto;
  padding: 3px 20px;
  color: white;
}

.status-disab {
  background-color: #12C924;
  border-radius: 20px;
  margin: 10px auto;
  padding: 3px 20px;
  color: white;
}

.status-seleksi-pending {
  background-color: #4e93fa;
  border-radius: 20px;
  width: 80%;
  padding: 0px 20px;
  margin: 0;
}

.status-seleksi-reject {
  background-color: #dc3545;
  border-radius: 20px;
  width: 80%;
  padding: 0px 20px;
  margin: 0;
}

.status-seleksi-approve {
  background-color: #28a745;
  border-radius: 20px;
  width: 80%;
  padding: 0px 10px;
  margin: 0;
}

.active {
  border-bottom: 2px solid #4e93fa;
  color: #4e93fa;
  transition: all 0.5s;
}

.icon {
  width: 100%!important;
  margin: 1rem auto!important;
  display: block !important;
}
.icon-regist {
  width: 50%!important;
  margin: 1rem auto!important;
  display: block !important;
}


.active:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .halamanProfile {
    margin: 40px auto;
  }
  .icon {
    width: 25%!important;
    margin: 1rem auto!important;
    display: block!important;
  }
}

/* Button Home */

.buttonDetailHome{
  background-color: #4e93fa;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  transition-duration: 0.4s;
}

.buttonDetailHome:hover{
  background-color: #1b76ff;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
}

.buttonBackContainer{
  margin: 0px 10px 20px 10px;
  display: flex;
  align-items: center;
}

.buttonBackIcon{
  width: 25px;
  height: 25px;
  color: #29325d;
}

.buttonBackText{
  margin-left: 10px;
  font-size: 20px;
  color: #29325d;
}

.buttonHome{
  background-color: white;
  border: 1px solid #4e93fa;
  color: #4e93fa;
  transition-duration: 0.4s;
}

.buttonHome:hover{
  background-color: #4e93fa;
  border: 1px solid #4e93fa;
  color: white;
}

/* Detail Program */

.imageDetail{
  height: auto;
  width: auto;
}

@media screen and (min-width: 426px) {
  .imageDetailContainer{
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    justify-content: center;
  }

  .imageDetail{
    max-height: 350px;
    width: auto;
  }
}

/* Navbar */

.navbarTitle:hover{
  text-shadow: 0 0 1px black;
}

/* Card */

.card:hover{
  box-shadow: 0 0px 10px -4px #524c4c;
}

.card-container{
  display: flex;
  align-items: center;
  height: 225px;
}

.card-img-top{
  max-height: 225px;
  background-size: cover;
  /* background-image: cover; */
  /* width: 100%;
  height: auto; */
}

.detailApplicantSpace{
  width: 290px;
}

/* Register */

.imageRegister{
  width: 75%;
}

@media screen and (min-width: 577px) {
  .imageRegister{
    width: 35%;
    max-height: 250px;
  }

  .icon-regist {
    width: 35%!important;
    margin: 1rem auto!important;
    display: block !important;
  }
}

/* Register Type Account */

.buttonKembali{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4e93fa;
  color: white;
  transition-duration: 0.4s;
}

.buttonKembali:hover{
  background-color: #1b76ff;
}

.buttonKembaliAllProgram{
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #a8cbff;
  color: #29325d;
  transition-duration: 0.4s;
}

.buttonKembaliAllProgram:hover{
  background-color: #1b76ff;
  color: white;
}

.buttonKembaliDetailProgramContainer{
  display: flex;
  height: 47px;
}

.buttonKembaliDetailProgram{
  width: 55px;
  height: 47px;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #a8cbff;
  color: #29325d;
  transition-duration: 0.4s;
}

.buttonKembaliDetailProgram:hover{
  background-color: #1b76ff;
  color: white;
}

.BiArrowBack{
  width: 25px;
  height: 25px;
}

.buttonSplit{
  background-color: #4e93fa;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition-duration: 0.4s;
}

.buttonSplit:hover{
  background-color: #1b76ff;
  color: white;
}

/* Our Team */

.containerTeams{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.CardContainerTeam{
  box-shadow: 0 0px 10px -4px #524c4c;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardText{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
}

.imageTeam{
  max-height: 300px;
  width: 100%;
  border-radius: 50%;
  padding: 15px;
}

@media screen and (min-width: 426px) {
  .containerTeams{
    grid-template-columns: repeat(3, auto);
  }  
}

@media screen and (min-width: 1025px) {
  .containerTeams{
    grid-template-columns: repeat(6, auto);
  }  
}